@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var logoutModel = new PostRedirectModel();

}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()



        @*@if (loginStatusModel.IsLoggedIn)
            {
            <p>You are currently logged in as @loginStatusModel.Name</p>

            using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
            {
                <fieldset>
                    <legend>Logout</legend>
                    <button>Logout</button>
                </fieldset>

                @Html.HiddenFor(m => logoutModel.RedirectUrl)
            }
        }*@

<!-- Header
       ============================================= -->
<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
               
            <a href="/" class="standard-logo" data-dark-logo="~/Content/images/codegardenlogo.png"><img src="~/Content/images/codegardenlogo.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current">
                        <a href="/"><div>Home</div></a>
                      
                    </li>
                    <li>
                        <a href="/speakers/"><div>Speakers</div></a>
                       
                    </li>
                    <li>
                        <a href="/schedule/"><div>Schedule</div></a>

                    </li>
                    <li>
                        <a href="/practical-info/"><div>Practical info</div></a>

                    </li>
                    <li>
                        <a href="/practical-info/"><div>Practical info</div></a>

                    </li>
                </ul>

               
                <!-- Top Search
                ============================================= -->
                @*<div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>*@<!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->