<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT newSpeakerPost ANY>
<!ATTLIST newSpeakerPost id ID #REQUIRED>
<!ELEMENT speakersPost ANY>
<!ATTLIST speakersPost id ID #REQUIRED>
<!ELEMENT frontPage2 ANY>
<!ATTLIST frontPage2 id ID #REQUIRED>
]>
<root id="-1">
  <frontPage2 id="1062" key="6435b14e-8200-45b1-9e65-bed07cb3106d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-13T21:03:33" updateDate="2017-11-14T19:02:55" nodeName="Front page Content" urlName="front-page-content" path="-1,1062" isDoc="" nodeType="1061" creatorName="Adomas Dambrauskas" writerName="Adomas Dambrauskas" writerID="0" template="1060" nodeTypeAlias="frontPage2">
    <referencesPost><![CDATA[<p style="text-align: center;"><em>"Good shit"</em> - Mike</p>
<p style="text-align: center;"><em>"10/10 never again"</em> - Jon</p>
<p style="text-align: center;"><em>"How do I skip this?</em>" - Mike</p>]]></referencesPost>
    <summaryPost><![CDATA[<p><span>Join us for our annual gathering - the biggest gathering - of the global Umbraco community in Odense, Denmark. </span></p>
<p><span>At this year's Codegarden we will spoil you with a plethora of high-quality sessions from community experts, the Core team and acclaimed keynote speakers, announcements from Umbraco HQ, in-depth workshops, an exclusive masterclass and the opportunity to </span><span class="underline">influence the future of Umbraco</span><span>. We hope to see you there.</span></p>
<p><strong>Ticket price: €700 ex. DK VAT</strong></p>]]></summaryPost>
    <speakersPost id="1084" key="6321ec2e-141a-4796-82ad-c2ded786bf85" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2017-11-14T19:45:21" updateDate="2017-11-14T19:45:21" nodeName="Speakers" urlName="speakers" path="-1,1062,1084" isDoc="" nodeType="1076" creatorName="Adomas Dambrauskas" writerName="Adomas Dambrauskas" writerID="0" template="1075" nodeTypeAlias="speakersPost">
      <namePost><![CDATA[Adomas]]></namePost>
      <newSpeakerPost id="1085" key="969198ea-7ed2-4f85-9bb4-f6360f2bbb37" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2017-11-14T19:47:20" updateDate="2017-11-14T20:06:58" nodeName="Adomas1" urlName="adomas1" path="-1,1062,1084,1085" isDoc="" nodeType="1081" creatorName="Adomas Dambrauskas" writerName="Adomas Dambrauskas" writerID="0" template="1080" nodeTypeAlias="newSpeakerPost">
        <speakerPicturePost><![CDATA[umb://media/e9244054390140ae95e4ab86add03d94]]></speakerPicturePost>
        <SpeakerDescriptionPost><![CDATA[<p>asdasdasdasd</p>]]></SpeakerDescriptionPost>
        <SpeakernamePost><![CDATA[Adomas1asdasd]]></SpeakernamePost>
      </newSpeakerPost>
      <newSpeakerPost id="1086" key="3d7e04b4-6dcf-48d2-9479-786801d17f0e" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2017-11-14T19:47:37" updateDate="2017-11-14T20:11:12" nodeName="Adomas2" urlName="adomas2" path="-1,1062,1084,1086" isDoc="" nodeType="1081" creatorName="Adomas Dambrauskas" writerName="Adomas Dambrauskas" writerID="0" template="1080" nodeTypeAlias="newSpeakerPost">
        <speakerPicturePost><![CDATA[umb://media/e9244054390140ae95e4ab86add03d94]]></speakerPicturePost>
        <SpeakerDescriptionPost><![CDATA[<p>Descriptionenenene</p>]]></SpeakerDescriptionPost>
        <SpeakernamePost><![CDATA[Adomas2]]></SpeakernamePost>
      </newSpeakerPost>
      <newSpeakerPost id="1087" key="e1489382-e62e-4535-b980-d20531536926" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2017-11-14T20:00:06" updateDate="2017-11-14T20:12:02" nodeName="adomasdasdasd" urlName="adomasdasdasd" path="-1,1062,1084,1087" isDoc="" nodeType="1081" creatorName="Adomas Dambrauskas" writerName="Adomas Dambrauskas" writerID="0" template="1080" nodeTypeAlias="newSpeakerPost">
        <speakerPicturePost><![CDATA[umb://media/e9244054390140ae95e4ab86add03d94]]></speakerPicturePost>
        <SpeakerDescriptionPost><![CDATA[<p>decscascsac</p>]]></SpeakerDescriptionPost>
        <SpeakernamePost><![CDATA[adomasdasdasdasd]]></SpeakernamePost>
      </newSpeakerPost>
    </speakersPost>
  </frontPage2>
</root>