@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FrontPage2>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SiteMaster.cshtml";
}

<section class="flex-half">

    <div class="about-codegarden">

        <h2>23rd - 25th of May, 2018</h2>
        <p>
            @Model.Content.SummaryPost



    </p>
    <a href="https://shop.umbraco.com/shop/cart/?p=7133&n=963" class="button-purple big">Buy your codegarden ticket now &rarr;</a>
</div>


<div class="codegarden-facts">
    <a class="twitter-timeline" href="https://twitter.com/codegarden?ref_src=twsrc%5Etfw"
       data-height="100%"
  data-chrome="nofooter"
  data-link-color="#820bbb"
  data-border-color="#a80000">
    >Tweets by codegarden</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</section>

<!-- Price section -->
<!--
<section class="flex-half">
    <div style="flex:0 0 40%; position:relative; display: flex; justify-content: center; align-items: center;">
    <img src="/media/1077/price-steps-regular-tickets-600x480.png" title="Codegarden ticket prices" />
    </div>

    <div class="description" style="flex: 0 0 60%; padding:0 0 0 20px;">

        <h2>The sooner you book the cheaper it is</h2>
<p>It is no secret (or surprise) that the sooner we know how many will attend, the better we can plan for the festival. We want to make it all as awesome for you as possible!</p>
<p> </p>
<p>That's why we want to offer the tickets to the fast buyers, cheaper. That makes it easier for us, and easier for you to convince your boss to pay for the ticket.</p>

    </div>
</section>
-->

<section id="References" class=""
<section id="speakers" class="speakers">
    <div class="block">
        <h2 class="headline">Speakers</h2>
        <p class="abstract">
            This years line-up of speakers is bigger and broader than ever.
            Come and hear from industry leaders, tinkers and thinkers, covering strategy, case stories, great design and deep dives into the Umbraco core
        </p>

        <p class="abstract">
            <strong class="addispeakers">
                <a class="button-purple" href="/schedule">See the full schedule</a>
            </strong>
        </p>
        @Html.Partial("SpeakersFrontpage")

        <p class="abstract">
            <strong class="addispeakers">New speakers are added every week as we approach Codegarden 2017</strong>
        </p>

    </div>
</section>

<!-- Developer Track Themes -->
<section id="themes" class="themes">
    <div class="block">
        <h2 class="headline">Codegarden 2017 Themes</h2>
        <p class="abstract">
            This year's sessions will revolve around 6 central themes,
            presented by a mix of community leaders, the Umbraco core team and specially selected keynote speakers. The different sessions will consists of either case-stories
            from the real world, tech-talks for developers or strategy sessions. As always, there will be something for everyone, whether you're a hard-core code enthusiast, a creative web designer, a project manager or a one-man army.
        </p>

        <ul class="track-list">

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Happiness and Community</h3>
                        <p>
                            How do you stay sharp, find inspiration and move forward professionally, mentally and as a human being?

                            Explore the intersection of happiness at work, side-projects and package development on the edge, as we dive into what makes an Umbracian truly happy.
                        </p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Beyond Web</h3>
                        <p>
                            Since its incasdkn, Umbraco has been an "as headless as you need" cms. Delivering data to everything from mobile apps, internet of things, to concert screens and price tags.

                            Learn how to leverage asdsadasda from your Umbraco site in new and unexpected ways.
                        </p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Collaboration</h3>
                        <p>Become a better team. Attend these sessions and discover the processes and tools that help high performing teams create great Umbraco projects.</p>
                    </div>
                </div>
            </li>
            <!-- Business minded sessions -->
            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Security</h3>
                        <p>
                            Make security a priority in 2017. Get the tools and insights to properly secure
                            your Umbraco projects, your customer data and your website visitors from unpleasant and possible lethal harm.
                        </p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>E-Commerce</h3>
                        <p>Being present online today is just as much about commerce as it is content. Get inspired from expert speakers and in-depth use cases, showcasing e-commerce best practices and Umbraco success stories.</p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Editor Experiences</h3>
                        <p>
                            You don't just build a website in Umbraco. You also build and design the application that your content editors will use everyday to maintain it.
                            Learn how some of the best in the business has taken advantage of
                            Umbraco's extensibility and delivered editorial workflows that improve
                            content quality and empowers editors to deliver even greater value.
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="cta speakers">
            Need some help to <a href="/media/1092/convince-your-boss-17-2.pdf" target="_blank">convince your boss?</a>
        </div>

    </div>
</section>

<!-- Target audience -->
<section id="target-audience" class="themes">
    <div class="block">
        <h2 class="headline">Codegarden 2017 Audience</h2>
        <p class="abstract">
            As always, Codegarden is a festival for the ones who work with Umbraco. This means that on all three days you’ll find sessions loaded with relevant code and tech demonstrations, news and case studies.

            HOWEVER, this year we want to make Codegarden relevant for a wider audience and we have therefore made sure that a handful of interesting Umbraco related business sessions will take place on day one. Sessions where limited, or no, coding skills are required. Sessions relevant for sales and marketing profiles, CTO's, CEO's of web agencies, designers and everyone else who wants to know how to optimise the way they work in and with Umbraco.
        </p>
    </div>
</section>



<section id="workshops" class="themes">
    <div class="block">
        <h2 class="headline">Workshops</h2>
        <p class="abstract">
        <p><span>As part of the Codegarden ticket, you get </span><strong>free</strong><span> access to 3 fantastic half-day workshops, giving you an opportunity to dive deep into a subject with an experienced instructor.</span></p>
        </p>

        <ul class="track-list">

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Umbraco Cloud</h3>
                        <p><span>With Umbraco Cloud you can f</span>ocus on building amazing things and never again worry about installing, manual upgrades, deployments, hosting and any other infrastructural bits. Attend the workshop and see if freeing yourself from these time consuming tasks is something for you.  <br /><br /></p>
                        <p><strong><a style="text-decoration: underline;" href="/sessions/workshop-umbraco-cloud/" title="Workshop: Umbraco Cloud" data-id="1215">More infomation and signup</a></strong></p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>Unit Testing Umbraco</h3>
                        <p><span class="s1">It's important to test your code. </span><span class="s1">Many will give up though. Unit testing can be hard to get good at in itself, </span><span class="s1">and when tightly coupled code looms ahead it might be even easier to let it go.</span><span class="s1"> </span><span class="s1">However, hope is not lost for us Umbracians. Learn how to optimise your unit testing on this workshop.<br /><br /></span></p>
                        <p><strong><span class="s1"><a style="text-decoration: underline;" href="/sessions/workshop-unit-testing-umbraco/" title="Workshop: Unit-testing Umbraco" data-id="1169">More infomation and signup</a></span></strong></p>
                    </div>
                </div>
            </li>

            <li class="track">
                <div class="inner">
                    <div class="description">
                        <h3>uCommerce</h3>
                        <p>uCommerce is one of the most trusted packages around. Get your hands dirty with the big daddy of e-commerce platforms on Umbraco and discover how elegantly simple e-commerce can be.<br /><br /></p>
                        <p><strong><a style="text-decoration: underline;" href="/sessions/workshop-ucommerce/" title="Workshop: UCommerce" data-id="1196">More infomation and signup</a></strong></p>
                    </div>
                </div>
            </li>
        </ul>

        <p class="abstract">
        <p><span>Workshops have limited seating. All seats will be released to Codegarden 17 ticket holders on April 3rd at 12:00 and 20:00 CEST.</span></p>
        </p>
    </div>
</section>

<!-- Masterclass -->
<section id="masterclass" class="flex-half">
    <div style="flex:0 0 40%; position:relative; display: flex; justify-content: center; align-items: center;">
        <img src="/media/1079/vitaly-friedman.jpg" title="Codegarden ticket prices" />
    </div>

    <div class="description" style="flex: 0 0 60%; padding:0 0 0 20px;">

        <h2>A Codegarden exclusive: Masterclass with Vitaly Friedman</h2>
        <p>We are honoured to announce that Vitaly Friedman will take part of Codegarden as one of our acclaimed keynote speakers. Not only will Friedman do a keynote, he will also host an exclusive Masterclass: “<strong>New Adventures in Responsive Web Design”</strong>. Are you still trying to figure out just the right strategy for designing and buildings responsive websites efficiently? Then this workshop will definitely be something for you. The masterclass has limited seating and costs €200. Sign-up starts on the 18th of April. </p>
        <p> </p>
        <p><a style="text-decoration: underline;" href="/vitaly-friedman-masterclass/" title="Vitaly Friedman Masterclass" data-id="1459">Read more about the Masterclass here</a></p>

    </div>
</section>



<section id="venue" class="venue">
    <div class="block">

        <h2 class="headline">Venue</h2>

        <div class="about-venue">
            <div class="description">
                <h3>Dok5000</h3>
                <p>
                    Codegarden will, once again, be held at "Dok5000" in central Odense.
                    Odense is just one hour by train from Copenhagen Airport, <a href="https://www.google.dk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=hotels+odense&rflfq=1&rlha=1&rlla=0&rllag=55399254,10385717,306&tbm=lcl&hotel_dates=2017-02-26,2017-02-27&tbs=lf_hd:-1,lrf:!2m7!1e17!4m2!17m1!1e3!4m2!17m1!1e8!2m21!1e7!4m4!7m3!1m1!1u2000!3sDKK!4m4!7m3!1m1!1u3000!3sDKK!4m4!7m3!1m1!1u4000!3sDKK!4m4!7m3!1m1!1u5000!3sDKK!2m1!1e2!2m1!1e4!2m22!1e10!4m2!11m1!1e6!4m2!11m1!1e4!4m2!11m1!1e5!4m2!11m1!1e10!4m2!11m1!1e2!4m2!11m1!1e3!4m2!11m1!1e7!3sEAE,lf:1,lf_ui:6&rlfi=hd:2017-06-07,2017-06-09;si:,55.40339973706097,10.389118194580078;mv:!1m3!1d12848.611915722688!2d10.395287158779865!3d55.40476909515585!3m2!1i2140!2i1089!4f13.1;tbs:lf_hd:-1,lrf:!2m7!1e17!4m2!17m1!1e3!4m2!17m1!1e8!2m21!1e7!4m4!7m3!1m1!1u2000!3sDKK!4m4!7m3!1m1!1u3000!3sDKK!4m4!7m3!1m1!1u4000!3sDKK!4m4!7m3!1m1!1u5000!3sDKK!2m1!1e2!2m1!1e4!2m22!1e10!4m2!11m1!1e6!4m2!11m1!1e4!4m2!11m1!1e5!4m2!11m1!1e10!4m2!11m1!1e2!4m2!11m1!1e3!4m2!11m1!1e7!3sEAE,lf:1,lf_ui:6" target="_new"> with plenty of cheap hotels</a> and <a href="https://www.airbnb.dk/s/Odense?checkin=07.06.2017&guests=1&zoom=14&search_by_map=true&sw_lat=55.38821015041279&sw_lng=10.373657554815281&ne_lat=55.411201261318006&ne_lng=10.414169639776219&ss_id=7f69kuro&page=1&allow_override%5B%5D=&checkout=09.06.2017&s_tag=WYYQs8VN" target="_new">airbnbs</a>,
                    a great atmosphere and is the Umbraco HQ home turf!.
                </p>

                <small>Venue street address: Dok5000, Havnegade 18, 5000 Odense</small>
            </div>
        </div>

        <div class="cta speakers">
            Odense?: <a target="_blank" href="https://www.google.com/maps?ll=55.410212,10.417525&z=13&t=m&hl=da&gl=US&mapclient=embed&q=Havnegade+18+5000+Odense+Danmark">See it on a map</a>
        </div>

        <div class="purchase">
            <a href="https://codegarden18.com/" class="button-purple big">Head to the Codegarden 18 site now &rarr;</a>
        </div>

    </div>
</section>